<div class='sidebar navbar navbar-brand'>
   <b class="text-center"><%= current_user.name.capitalize %></b>
  <div class="" id="user-sidebar-options">
    <i class="fa fa-user" aria-hidden="true"></i>
    <%= link_to(destroy_user_session_path, :method => :delete) do %>
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="logo-container">
    <%= image_tag("logo.png", class:"logo") %>
  </div>
  <div class="" id="sidebar-menu">
    <%= link_to "Clases", lessons_menu_path, class: "sidebar-menu-item"%>
    <%= link_to "Usuarios", users_path, class: "sidebar-menu-item"%>
    <%= link_to "Alumnos", students_menu_path, class: "sidebar-menu-item"%>
    <%= link_to "Home", root_path, class: "sidebar-menu-item"%>
  </div>
</div>
